@{
    ViewData["Title"] = "Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a href="PlanoConta/Cadastro" class="btn btn-primary btn-lg">Criar item de Planos de Conta</a>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var item in (List<PlanoContaModel>) ViewBag.ListaPlanoConta)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Descricao</td>
                        <td>@item.Tipo</td>
                        <td><a href="PlanoConta/Editar/@item.Id.ToString()" class="btn btn-outline-warning">Editar</a></td>
                        <td><a href="PlanoConta/Editar/@item.Id.ToString()" class="btn btn-outline-danger">Deletar</a></td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>