@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Cadastro" method="post">
        <div class="form-group">
            <label for="form-input-name">Nome</label>
            <input type="text" name="Name" class="form-control" id="form-input-name" placeholder="Nome">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
